
{% extends 'base.html' %}
{% load static %}

{%  block title %} Seja bem vindo a BlackBeard {% endblock   %}


{% block main %}
<style>
        body
        {
            background-image: url("{% static 'Imagens/FundoChic.jpg' %}");
        }

</style>


  <center><img src="{%  static 'Imagens/logoBranco.png' %}" alt=""></center>
  <!--<h1 class="titulo"> bem vindo a blackbeard </h1>-->

    {% if user.is_authenticated %}
        <!--<p> Olá {{ user.username }} </p>-->
        <!--<a href="{%url 'logout' %} "> Deslogar </a>-->
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
           <!--<a href="{% url 'login' %}"><button type="submit" class="btn btn-info"> Logar </button></a>-->
           <!--<a href="{% url 'login' %}"> Logar </a>-->
        </form>
    {% endif %}
{% endblock%}