{% extends 'base.html'%}
{% load static %}
{%  block title %} BlackBeard - Clientes {% endblock   %}



{% block main %}


    <h1 class="titulo"> Clientes         </h1>
    <img src="{% static '/Imagens/usuarios.png' %}"/>

<div class="container">
    <button type="button" class="btn btn-outline-success"><a href="{% url 'novo_cliente' %}"> Novo cliente </a></button>
    {% for cliente in clientes %}
    <div class="row">
        <div class="col">
            <a href="{% url 'atualiza_cliente' cliente.id %}"> {{ cliente}}</a>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-danger"> <a href="{% url 'deleta_cliente' cliente.id %}"> Deletar </a></button>
        </div>
    </div>

    {% endfor%}
    </div>

    <!--<button type="button" class="btn btn-danger"> <a href="{% url 'logout' %}"       >Sair</a></button>-->

{% endblock %}
























